<header class="intro-header" style="background-image:
    url('/images/ayers_hall.jpg');">
<div class="row">
    <div class="col-lg-10 col-md-10 col-md-offset-1">
        <div class="site-heading">
            <h1 class="heading">Aristotle</h1>
            <hr class="small">
        </div>
    </div>
</div>
</header>
<div class="mainContent text-center">
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <h3>Free</h3>
            <span class="glyphicon glyphicon-usd"></span>
            <p>Aristotle is free and easy to use. We do ask that you contact us if you plan to use our attendance platform.</p>
        </div>

        <div class="col-lg-4 col-sm-4">
            <h3>Cloud Based</h3>
            <span class="glyphicon glyphicon-cloud"></span>
            <p>Aristotle uses cloud based computing to keep your information safe. This also allows you to access your data from any location.</p>


        </div>

        <div class="col-lg-4 col-sm-4">
            <h3>Easy to Use</h3>
            <span class="glyphicon glyphicon-ok"></span>
            <p>Aristotle implements an easy to use interface that allows you to find new and interested information about your classroom.</p>


        </div>
    </div>
</div>