<header class="intro-header" style="background-image:
    url('/images/ayers_hall.jpg');">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="heading">Welcome to Aristotle</h1>
                    <hr class="small">
                </div>
            </div>
        </div>
</header>
<div class="">

</div>
